<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="mybatis.UserMapper">
    <!-- Integer insert(User user);-->
    <insert id="insert">
		INSERT INTO tedu_ums.t_user (
			username, password, 
			age, phone, 
			email,is_delete
		) VALUES (
			#{username},#{password},
			#{age},#{phone},
			#{email},#{isDelete}
		)
	</insert>

    <!-- List<User> findAll();这里返回的东西都默认是list的集合-->
    <select id="findAll" resultType="mybatis.User">
		select
		username, password,
		age, phone,
		email,is_delete isDelete
		from tedu_ums.t_user
    </select>
    <select id="findByUsername" resultType="mybatis.User">
		SELECT
			id, username,
			password, age,
			phone, email,
			is_delete AS isDelete
		FROM
			t_user
		WHERE
			username=#{username}
	</select>

    <!-- Integer updateIsDelete(Integer isDelete) -->
    <update id="updateIsDelete">
		UPDATE
			t_user
		SET
			is_delete=#{isDelete}
	</update>

    <!-- Integer updatePassword(
        @Param("id") Integer id,
        @Param("password") String password) -->
    <update id="updatePassword">
		UPDATE
			t_user
		SET
			password=#{password}
		WHERE
			id=#{id}
	</update>

    <!--Integer countById();-->
    <select id="countById" resultType="java.lang.Integer">
		select count(id) from t_user;
    </select>

    <!--   Integer deleteByIds(List<Integer> ids);-->
    <delete id="deleteByIds">
        delete from
        tedu_ums.t_user
        where
        id in(
        <foreach collection="array" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <!--  List<User> select(@Param("where") String where);-->
    <select id="select" resultType="mybatis.User">
        select
        username, password,
        age, phone,
        email,is_delete isDelete
        from
        tedu_ums.t_user
        <if test="where !=null">
            where ${where }
        </if>
    </select>

    <select id="select2"
            resultType="mybatis.User">
        SELECT
        id, username,
        password, age,
        phone, email,
        is_delete AS isDelete
        FROM
        t_user
        <if test="where != null">
            WHERE ${where}
        </if>
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
        <if test="limit != null">
            LIMIT ${limit}
        </if>
    </select>

    <select id="findAll2" resultType="mybatis.UserVO">
        SELECT
  			     u.id, u.username,
  			     u.password, u.age,
  			     u.phone, u.email,
  			     u.is_delete as isDelete,
  			     d.did as departmentId,
  			     d.name as departmentName
		FROM
   			   t_user u
		LEFT JOIN
               t_department d
        ON
    		   u.department_did=d.did
    </select>

</mapper>